{% extends 'base.html' %}
{% load static i18n %}

{% block title %} {% trans 'Home' %} {% endblock %}

{% block style_css %}
    <link rel="stylesheet" href="{% static 'scanner/css/scan_succcess_css.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="promo" style="text-align: center; margin-bottom: 30px">{% trans 'Succesfully uploaded' %}: {{ scanner.description }}</h1>

        <div class="scan-border">
            <h3 style="text-align: center"> {% trans 'Your image' %} </h3>
            <img class="scan-img" src="{{ scanner.image.url }}" alt="connect">

            <h3 style="text-align: center"> {% trans 'Recognition result' %} </h3>
            <textarea class="text-area" cols="70" rows="10" spellcheck="false"> {{ scanner.recognition }}</textarea>
        </div>

    </div>
{% endblock %}