{% extends 'base.html' %}
{% load static i18n %}

{% block title %} {% trans 'Home' %} {% endblock %}

{% block style_css %}
    <link rel="stylesheet" href="{% static 'scanner/css/scan_succcess_css.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
{% endblock %}

{% block content %}

    <div class="container">

        <h1 class="promo" style="text-align: center; margin-bottom: 30px">{% trans 'Succesfully uploaded' %}: {{ scanner.description }}</h1>

        <div class="scan-border">
            <h3 style="text-align: center"> {% trans 'Your image' %} </h3>
            <img class="scan-img" src="{{ scanner.image.url }}" alt="connect">

            <h3 style="text-align: center"> {% trans 'Recognition result' %} </h3>
            <textarea class="text-area" cols="70" rows="10" spellcheck="false"> {{ scanner.recognition }}</textarea>

            <table class="table ph-ch-table">
                <thead>
                <tr>
                    <th class="col-md-6" style="padding-left: 45px">{% trans 'Phrase' %}</th>
                    <th class="col-md-2">{% trans 'Accuracy' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for p, c in phrase_chance %}
                    <tr>
                        <td class="col-md-6" style="padding-left: 45px">{{ p }}</td>
                        <td class="col-md-2">{{ c }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
{% endblock %}

{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
            integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
            crossorigin="anonymous"></script>

{% endblock %}