.scan-border {
    margin: 0 auto 100px auto;
    padding: 40px 0 20px 0;

    width: 70%;
    background-color: #eeeeee;
    border-radius: 15px;
}

.scan-img {
    display: flex;
    justify-content: center;
    margin: 10px auto 25px auto;
    max-height:300px
}

.text-area {
    display: flex;
    justify-content: center;
    margin: 10px auto 25px auto;
    padding: 10px;
    max-height:300px;

    border: 0;
    border-radius: 15px
}

/*.ph-ch-table {*/
/*    margin: 55px auto;*/
/*    width: 80% !important;*/
/*    padding: 15px;*/

/*    background-color: #fff;*/
/*    border-radius: 15px;*/
/*}*/

textarea:active, textarea:hover, textarea:focus {
    border: 0;
    box-shadow: none !important;
    outline: none !important;
}